.own-page-store-name {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.store-address {
  margin-left: 2rem;
}

.own-page-store-subdistrict {
  margin-left: 2rem;
}

.own-page-store-province {
  margin-left: 2rem;
}

.own-dorayaki {
  margin-top: 2rem;
}

.own-dorayaki-header {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  align-items: center;
}

.own-dorayaki-header h3 {
  color: grey;
}

.own-dorayaki-header h3:hover {
  cursor: pointer;
  color: black;
}

.own-dorayaki-header h3 {
  margin-left: 2rem;
}

.stock-title {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
