.own-page-store-name {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.store-address {
  margin-left: 2rem;
}

.own-page-store-subdistrict {
  margin-left: 2rem;
}

.own-page-store-province {
  margin-left: 2rem;
}

.own-dorayaki {
  margin-top: 2rem;
}

.stock-title {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
